{{ define "main" }}
<section class="py-4 text-center container">
    <div class="row py-lg-4">
      <div class="col-10 mx-auto">
        <h1 class="fw-light">{{ $.Param "heroTitle" }}</h1>
        <p class="lead text-muted">{{ $.Param "heroDescription" }}</p>
      </div>
    </div>
  </section>

<div class="album pt-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-7 order-md-1 pb-4">
          {{ .Content }}
        </div>
        <div class="col-md-5 order-md-2 pb-4">
          {{ range first 4 (where .Site.RegularPages "Type" "blog") }}
          {{ partial "pagelisting.html" . }}
          {{ end }}
  
          <a class="btn btn-primary btn-sm" href="/blog/" title="{{.Site.Params.name}} Blog">More on the {{.Site.Params.name}} blog</a>
        </div>
      </div>
    </div>
</div>
{{ end }}