{{- $items := slice -}}
{{- range $.Site.Data.members -}}
  {{- if eq (default "en" (substr .blog.language 0 2) ) "en" -}}
    {{- with .blog.feed -}}
      {{- with resources.Get . | transform.Unmarshal -}}
        {{ with .Err }}
          {{ warnf "%s" . }}
        {{ else }}
          {{- range $i, $item := .channel.item -}}
            {{- $newItem := dict -}}
            {{- range $k, $v := $item -}}
              {{- if eq $k "pubDate" -}}
                {{- $newItem = merge $newItem (dict $k (time $v)) -}}
              {{- else -}}
                {{- $newItem = merge $newItem (dict $k $v) -}}
              {{- end -}}
            {{- end -}}
            {{- $items = $items | append $newItem -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $items = sort $items "pubDate" "desc" -}}

{{- range $i, $post := first 25 $items -}}
{{- $url := urls.Parse $post.link -}}
    <!-- {{ $authors := slice }}
    {{ $authors = $authors | append $post.author }} -->
    <div class="card mb-3">
        <div class="row g-0">
          {{ with $post.image }}
          <div class="col-lg-3">
            <img src="{{ $post.image.url }}" title="{{ $post.image.title }}">
          </div>
          {{ end }}
          <div class="col">
            <div class="card-body">
              <h5 class="card-title"><a href="{{ $post.link }}" target="_blank" alt="{{ $post.title | plainify | htmlUnescape }}">{{ $post.title | plainify | htmlUnescape  }}</a></h5>
              <p class="card-text">{{ $post.description | plainify | htmlUnescape | truncate 120 }}</p>
              <small class="py-2 text-muted">Published on {{ dateFormat "Monday January 2, 2006" $post.pubDate }} at <a href="https://{{ $url.Host }}/" target="_blank">{{ $url.Host }}</a></small>
            </div>
          </div>
        </div>
      </div>
{{- end -}}