[submodule "content/pkimm"]
	path = content/wg/pkimm/model
	url = https://github.com/pkic/pkimm
	branch = main
[submodule "content/pqccm"]
	path = content/wg/pqc/pqccm
	url = git@github.com:pkic/pqccm.git
	branch = main
[submodule "content/remote-key-attestation"]
	path = content/wg/cm/remote-key-attestation
	url = git@github.com:pkic/remote-key-attestation.git
	branch = main
[submodule "content/wg/cm/remote-key-attestation"]
	path = content/wg/cm/remote-key-attestation
	url = https://github.com/pkic/remote-key-attestation.git
