[submodule "content/pkimm"]
	path = content/wg/pkimm/model
	url = ../pkimm
	branch = main
[submodule "content/pqccm"]
	path = content/wg/pqc/pqccm
	url = ../pqccm.git
	branch = main
[submodule "content/wg/cm/remote-key-attestation"]
	path = content/wg/cm/remote-key-attestation
	url = ../remote-key-attestation.git
	branch = main
[submodule "content/pkimm-1.0.0"]
	path = content/wg/pkimm/1.0.0
	url = ../pkimm
	branch = 1.0.0
