.DS_Store
public
resources/_gen/
static/pagefind
.dev.vars
wrangler.toml

# Ignore hugo itself when located here
hugo
hugo.*
static/_pagefind

# Python cache
.venv
__pycache__/
*.py[cod]
*$py.class

# Cloudflare
.wrangler/
.cache/