baseURL: https://pkic.org
languageCode: en-us
title: PKI Consortium

copyright: PKI Consortium, Inc. All Rights Reserved

languages:
  en:
    languageName: English
    weight: 1
  ms:
    languageName: Malay
    weight: 2

permalinks:
  blog: /:year/:month/:day/:title/

#canonifyurls: true
enableRobotsTXT: true
buildDrafts: false
disableHugoGeneratorInject: true
enableInlineShortcodes: true
rssLimit: 30
enableEmoji: true

# not great, but it's not a big deal if some rss feeds fail
ignoreErrors: ["error-remote-getremote"]

# it can take some time to query the rss feeds
timeout: 600s

taxonomies:
  tag: tags
  series: series
  author: authors

# disableKinds:
#   - RSS
#   - taxonomyTerm

# menu:
#   main:
#      -
#        name: Example page
#        identifier: example
#        weight: -100
#        url: https://www.example.com

params:
  name: PKI Consortium (Public Key Infrastructure Consortium)
  shortName: PKI Consortium
  company: PKI Consortium, Inc.
  email: feedback@pkic.org
  website: https//pkic.org
  about: The CA Security Council is comprised of leading Certificate Authorities that are committed to improve, create and collaborate on generic, industry or use-case specific policies, procedures, best practices, standards and tools that advance trust in assets and communication for everyone and everything using Public Key Infrastructure (PKI) as well as the security of the internet in general. By engaging with users, regulators, supervisory bodies and other interested or relying parties the council can address actual issues.
  vision: Trusted digital assets and communication for everyone and everything
  siteSource: https://github.com/pkic/pkic.org/edit/main

  social:
    x: https://x.com/PKIConsortium
    linkedin: https://www.linkedin.com/company/pki-consortium/
    github: https://github.com/pkic

# https://gohugo.io/content-management/related/#default-configuration
related:
  includeNewer: true
  indices:
    - name: tags
      weight: 100
    - name: keywords
      weight: 60
    - name: title
      weight: 30
    - name: date
      weight: 10
  threshold: 90
  toLower: true

privacy:
  disqus:
    disable: false
  googleAnalytics:
    anonymizeIP: true
    disable: false
    respectDoNotTrack: true
    useSessionStorage: false
  instagram:
    disable: false
    simple: false
  x:
    disable: false
    enableDNT: true
    simple: false
  vimeo:
    disable: false
    enableDNT: true
    simple: false
  youtube:
    disable: false
    privacyEnhanced: true

markup:
  goldmark:
    parser:
      attribute:
        block: true

module:
  imports:
    - path: github.com/gohugoio/hugo-mod-bootstrap-scss/v5

outputFormats:
  rss:
    mediatype: application/rss
    path: feed
  news:
    baseName: index
    path: /news/feed/
    isPlainText: false
    mediaType: application/rss
  redirects:
    baseName: _redirects
    path: /
    isPlainText: true
    notAlternative: true
  event-overlays:
    mediatype: text/html
    baseName: event-overlays
  event-session:
    mediatype: text/html
    baseName: event-session
  event-speakers:
    mediatype: text/html
    baseName: event-speakers
  event-speakers2:
    mediatype: text/html
    baseName: event-speakers2
  event-data:
    mediatype: application/json
    isPlainText: true
    baseName: event-data
  event-agenda:
    mediatype: text/calendar
    baseName: agenda
    isPlainText: true
  members-data:
    mediatype: application/json
    isPlainText: true
    baseName: members-data

outputs:
  home:
    - HTML
    - news
    - redirects
  page:
    - HTML
  section:
    - HTML
    - members-data

caches:
  getresource:
    dir: :cacheDir/:project
    maxAge: 28800

server:
  headers:
    - for: /**
      values:
        X-Frame-Options: DENY
        X-Content-Type-Options: nosniff
        Referrer-Policy: strict-origin-when-cross-origin
        Content-Security-Policy:
          default-src 'none'; form-action 'self'; base-uri 'self';
          block-all-mixed-content;
          style-src 'unsafe-inline' 'self' https://fonts.googleapis.com/;
          font-src https://fonts.gstatic.com/s/roboto/;
          script-src 'self' 'wasm-unsafe-eval' https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js https://pkic.github.io/self-assessment/;
          img-src 'self' https://i.ytimg.com data:;
          frame-src https://www.youtube-nocookie.com/ https://player.vimeo.com/ https://www.youtube.com/;
          media-src  https://www.rovid.nl/def/dco/2016/def-dco-20160823-idoa9bivg-web-hd.mp4;
          connect-src ws://localhost:1313/livereload 'self' https://fonts.gstatic.com/s/roboto/ data:;

    - for: /questions.html
      values:
        Content-Security-Policy:
          default-src 'none'; form-action 'self'; base-uri 'self';
          block-all-mixed-content;
          style-src 'unsafe-inline' 'self' https://fonts.googleapis.com/;
          font-src https://fonts.gstatic.com/s/roboto/;
          script-src 'self' https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.worker.min.js https://pkic.github.io/self-assessment/;
          img-src 'self' data:;
          frame-src https://www.youtube-nocookie.com/ https://player.vimeo.com/ https://www.youtube.com/;
          media-src  https://www.rovid.nl/def/dco/2016/def-dco-20160823-idoa9bivg-web-hd.mp4;
          connect-src ws://localhost:1313/livereload 'self' https://docs.google.com/spreadsheets/d/ https://fonts.gstatic.com/s/roboto/ data:;
