baseURL: https://pkic.org
languageCode: en-us
title: PKI Consortium
theme: pkic

copyright: PKI Consortium, Inc. All Rights Reserved
googleAnalytics:

permalinks:
  blog: /:year/:month/:day/:title/

#canonifyurls: true
enableRobotsTXT: true
buildDrafts: false
disableHugoGeneratorInject: true
enableInlineShortcodes: true
rssLimit: 30

# not great, but it's not a big deal if some rss feeds fail
ignoreErrors: ["error-remote-getjson"]

# it can take some time to query the rss feeds
timeout: 120s

taxonomies:
  tag: tags
  series: series
  author: authors

# disableKinds:
#   - RSS
#   - taxonomyTerm

# menu:
#   main:
#      -
#        name: Example page
#        identifier: example
#        weight: -100
#        url: https://www.example.com

params:
  name: PKI Consortium (Public Key Infrastructure Consortium)
  shortName: PKI Consortium
  company: PKI Consortium, Inc.
  email: feedback@pkic.org
  website: https//pkic.org
  about: The CA Security Council is comprised of leading Certificate Authorities that are committed to improve, create and collaborate on generic, industry or use-case specific policies, procedures, best practices, standards and tools that advance trust in assets and communication for everyone and everything using Public Key Infrastructure (PKI) as well as the security of the internet in general. By engaging with users, regulators, supervisory bodies and other interested or relying parties the council can address actual issues.
  vision: Trusted digital assets and communication for everyone and everything
  siteSource: https://github.com/pkic/pkic.org/edit/main

  social:
    twitter: https://twitter.com/PKIConsortium
    linkedin: https://www.linkedin.com/groups/4852478/
    github: https://github.com/pkic

# https://gohugo.io/content-management/related/#default-configuration
related:
  includeNewer: true
  indices:
  - name: tags
    weight: 100
  - name: keywords
    weight: 60
  - name: title
    weight: 30
  - name: date
    weight: 10
  threshold: 90
  toLower: true

privacy:
  disqus:
    disable: false
  googleAnalytics:
    anonymizeIP: true
    disable: false
    respectDoNotTrack: true
    useSessionStorage: false
  instagram:
    disable: false
    simple: false
  twitter:
    disable: false
    enableDNT: true
    simple: false
  vimeo:
    disable: false
    enableDNT: true
    simple: false
  youtube:
    disable: false
    privacyEnhanced: true

outputFormats:
  rss:
    mediatype: application/rss
    path: feed
  news:
    baseName: index
    path: /news/feed/
    isPlainText: false
    mediaType: application/rss

outputs:
  home:
  - HTML
  - news
  page:
  - HTML
  section:
  - HTML
  - RSS  

caches:
  getjson:
    dir: :cacheDir/:project
    maxAge: 28800
  getresource:
    dir: :cacheDir/:project
    maxAge: 28800

server:
  headers:
  - for: /**
    values:
      X-Frame-Options: DENY
      X-Content-Type-Options: nosniff
      Referrer-Policy: strict-origin-when-cross-origin
      Permissions-Policy: document-domain=()
      Content-Security-Policy: default-src 'none'; img-src 'self' data:; form-action 'self'; base-uri 'self'; 
          block-all-mixed-content;
          style-src 'unsafe-inline' 'self' https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css https://fonts.googleapis.com/css;
          font-src https://fonts.gstatic.com/s/roboto/;
          script-src 'self' https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js;
          frame-src https://www.youtube-nocookie.com/ https://player.vimeo.com/;
          media-src https://i.ytimg.com https://www.rovid.nl/def/dco/2016/def-dco-20160823-idoa9bivg-web-hd.mp4;
          connect-src ws://localhost:1313/livereload 'self';