<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "header.html" . }}
    {{ partial "styles.html" . }}
  </head>
  <body>
    {{ partial "navbar.html" . }}
    
    <main>
    {{ block "main" . }}
    <div class="py-5 bg-light">
        <div class="container">
            {{ .Content }}
        </div>
    </div>
    {{ end }}
    </main>

    {{- if .Page.Store.Get "hasMermaid" -}}
      <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
      <script>
        mermaid.initialize({ startOnLoad: true });
      </script>
    {{- end -}}

    {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ end }}
  </body>
</html>
