{{/* Find the page that holds event data; walk up ancestors if the current page lacks it */}}
{{- $dataPage := $.Page -}}
{{- if not $.Page.Params.data -}}
  {{- range $.Page.Ancestors -}}
    {{- if and (eq $dataPage $.Page) .Params.data -}}
      {{- $dataPage = . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $speakers := slice -}}
{{- range $dataPage.Params.data.speakers -}}
    {{- $speaker := . -}}
    {{- $headshot := (printf "speakers/%s.*" (default (.name | urlize | safeURL) .id)) -}}
    {{- with $dataPage.Resources.GetMatch $headshot -}}
        {{ $x150 := .Resize "x150" }}        
        {{ $x250 := .Resize "x250" }}
        {{ $x600 := .Resize "x600" }}

        {{- $speakers = $speakers | append (merge $speaker (dict "headshot" (dict 
            "x150" $x150.RelPermalink
            "x250" $x250.RelPermalink
            "x600" $x600.RelPermalink
        ))) -}}

    {{- else -}}
        {{- $speakers = $speakers | append $speaker -}}
    {{- end -}}
{{- end -}}
{{- $data := merge $dataPage.Params.data (dict "speakers" $speakers) -}}
{{- return $data -}}