{{ define "main" }}
{{ partial "hero.html" . }}

<div class="py-5">
  <div class="container">
    <div class="row g-4 align-items-start">
      {{ range .Paginator.Pages }}
      <div class="col-sm-6 col-lg-4">
        {{ partial "blog-card.html" . }}
      </div>
      {{ end }}
    </div>

    {{/* Pagination */}}
    <div class="mt-5 d-flex justify-content-center">
      <nav aria-label="Blog pagination">
        {{ template "_internal/pagination.html" . }}
      </nav>
    </div>
  </div>
</div>
{{ end }}