
{{ $found := slice }}

<!-- Members -->
{{ range $.Site.Data.members }}
    {{ $member := . }}
    {{ range .representatives }}
        {{ if in $.Params.authors .name }}
            {{ $found = $found | append .name }}
            <a href="/members/{{ $member.id }}/#{{ .name | urlize }}" title="{{ .role }} at {{ $member.name }}" data-pagefind-filter="author">{{ .name }}</a>
            (<a href="{{ $member.website }}" title="{{ $member.description }}" target="_blank">{{ $member.name }}</a>){{ if lt (len $found) (len $.Params.authors) }}, {{end}}
            <!--{{ partial "social.html" .social }}-->
        {{ end }}
    {{ end}}
{{ end}}

<!-- Third party authors -->
{{ range $.Params.authors }}
    {{ if not (in $found .) }}
        {{ range $.Site.Data.authors }}
            {{ $organization := . }}
            {{ range .representatives }}
                {{ if in $.Params.authors .name }}
                    {{ $found = $found | append .name }}
                    <span title="{{ .role }} at {{ $organization.name }}" data-pagefind-filter="author">{{ .name }}</span>
                    (<a href="{{ $organization.website }}" title="{{ $organization.description }}" target="_blank">{{ $organization.name }}</a>){{ if lt (len $found) (len $.Params.authors) }}, {{end}}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

<!-- If not found in members and not found in authors just show the name  -->
{{ range $.Params.authors }}
    {{ if not (in $found .) }}
        {{ $found = $found | append . }}
        <span data-pagefind-filter="author">{{ . }}{{ if lt (len $found) (len $.Params.authors) }}, {{end}}</span>
    {{ end }}
{{ end }}