{{ $date := (time.Now) }}
{{ with $.Scratch.Get "date" }}
    {{ $date = (time .) }}
{{ end }}

<!-- shuffle members  -->
{{ $members := slice }}
{{ range $.Site.Data.members }}
    {{ if $date.After (time .memberSince)  }}
    {{ $members = $members | append . }}
    {{ end }}
{{ end }}

{{ range (shuffle $members) }}
    {{ $title := (printf "%s, %s - A member of the %s" .name .slogan $.Site.Params.name ) }}
    <a href="/members/{{ .id }}/" title="{{ $title }}">
        {{ $img := resources.GetMatch (printf "/images/members/%s/%s.*" .id .id) }}
        {{ with $img}}
        <img class="member-logo" alt="{{ $title }}" title="{{ $title }}" src="{{ $img.Permalink }}">
        {{ end }}
    </a>
{{ end }}
