<ul class="list-unstyled">
{{ with .FirstSection }}
    <li class="pt-2 pb-4"><strong><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></strong></li>
    {{- if .Sections -}}
        {{- range .Sections -}}
            <li class="pt-2 pb-1"><strong><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></strong></li>
            {{- range $i, $e := .Data.Pages -}}
                <li class="px-2"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
</ul>