
  <div class="sticky-top navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <img src="/img/logo.svg" height="30" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <div class="navbar-nav me-auto"></div>
        <div class="navbar-nav mb-2 mb-lg-0">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          <a class="nav-link{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}" title="{{ .Title }}" href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
