{{ $items := slice }}

{{ range $.Site.Data.members }}
  {{ with .blogFeed }}
    {{ $url := printf "https://api.rss2json.com/v1/api.json?rss_url=%s" .}}
    {{ $rssJ := getJSON  $url }}
    {{ $items = $items | append $rssJ.items }}
  {{ end }}
{{ end }}

<div id="rssfeedcarousel" class="carousel slide" data-bs-ride="carousel">
  <a class="carousel-control-prev" href="#rssfeedcarousel" role="button" data-bs-slide="prev">
    <svg xmlns="http://www.w3.org/2000/svg" height="100%" fill="#f3f3f3" class="me-5 bi bi-arrow-left-square" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg>
    <span class="visually-hidden">Previous</span>
  </a>

  <div class="carousel-inner mx-auto w-75">
    {{ range $i, $post := first 25 ( sort $items "pubDate" "desc" ) }}
      {{ $url := urls.Parse $post.link }}
            <div class="carousel-item{{ if lt $i 1 }} active{{ end }}">

              <div class="card">
                <div class="row g-0">
                  {{ with $post.image }}
                  <div class="col-md-3">
                    <img src="{{ $post.image.url }}" title="{{ $post.image.title }}">
                  </div>
                  {{ end }}
                  <div class="col">
                    <div class="card-body">
                      <h5 class="card-title"><a href="{{ $post.link }}" target="_blank" alt="{{ $post.title }}" class="text-truncate text-nowrap">{{ $post.title }}</a></h5>
                      <p class="card-text">{{ $post.description | safeHTML | truncate 120 }}</p>
                      <p class="card-text"><small class="text-muted">Published on {{ dateFormat "Monday January 2, 2006" $post.pubDate }} at <a href="https://{{ $url.Host }}/" target="_blank">{{ $url.Host }}</a></small></p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
    {{ end }}
  </div>

  <a class="carousel-control-next" href="#rssfeedcarousel" role="button" data-bs-slide="next">
    <svg xmlns="http://www.w3.org/2000/svg" height="100%" fill="#f3f3f3" class="ms-5 bi bi-arrow-right-square" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
    </svg>
    <span class="visually-hidden">Next</span>
  </a>
</div>