<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
:root {
    --color: rgb(25, 135, 84);
    --pagination-color: $color !important;
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    font-family: 'Roboto', sans-serif !important;
}

a {
    color: var(--color);
}

a:hover {
    color:var(--color);
    filter: opacity(60%);
}

.badge:hover {
    color: white!important;
    background-color: var(--color) !important;
    filter: none;
}

main {
    flex: 1;
}

#content {
    text-align: justify;
}

#sidebar {
    color: rgba(107, 107, 107, 0.849);
}

#sidebar a {
    color: currentColor;
}

#participate {
    color: #fff;
    text-align: center;
    font-size: 1.6em;
    font-weight: 200!important;
}

#participate a {
    color: currentColor;
}

.member-logo {
    height: 40px;
    max-width: 175px;
    filter: invert(.5)
}
#members a:hover, .member-logo:hover {
    filter: none;
}
.linkArea {
    color: currentColor;
    text-decoration: none;
}
.badge {
    text-decoration: none;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

figure {
    margin: 2rem;
    text-align: center;
}
figure>img {
    max-width: 80%;
}
figcaption, figcaption h4 {  
    font-size: 70%;
    text-align: center!important;
}

blockquote{
    font-size: 1.3em;
    margin-left: -1.2em;
    font-weight: 400!important;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid rgb(33, 37, 41) ;
    line-height: 1.6;
    position: relative;
    background: #efefef;
}

blockquote::before{
    font-family: Arial;
    content:"\201C";
    color:rgb(33, 37, 41);
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
}

blockquote::after{
    content: '';
}

blockquote h4{
    display: block;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}

.highlight>pre {
    padding: 1.5rem;
}

table, td, th {
    padding: 0.5em;
    margin: 1em;
    border: 1px solid rgb(33, 37, 41) ;
}

main h2 {
    text-align: left;
    font-size: 1.6em;
    padding-top: 1em;
    font-weight: 500!important;
}

main h3 {
    text-align: left;
    font-size: 1.2em;
    padding-top: 1em;
    font-weight: 500!important;
}

main h4 {
    text-align: left;
    font-size: 1.1em;
    padding-top: 1em;
    font-weight: 500!important;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
</style>