<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "header.html" . }}

    {{ $sass := resources.Get "scss/main.scss" }}
    {{ $style := $sass | css.Sass | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    
  </head>
  <body>
    {{ partial "navbar.html" . }}
    
    <main>
    {{ block "main" . }}
    <div class="py-5 bg-light">
        <div class="container">
            {{ .Content }}
        </div>
    </div>
    {{ end }}
    </main>

    <div data-pagefind-ignore="all">
    {{- if .Page.Store.Get "hasMermaid" -}}
      <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    {{- end -}}

    {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ end }}
    </div>
  </body>
</html>
