{{ define "main" }}
<div class="py-2 bg-light">
</div>

{{ partial "hero.html" . }}

<div class="py-2 bg-light">
</div>

<div class="container">
    <div class="row">
        {{- if $.Page.FirstSection.Param "sideMenu" -}}
            <div id="sidebar-toggle-button">
                <button class="btn btn-outline-secondary btn-sm" type="button" id="sidebarToggle" aria-label="Toggle sidebar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
                    </svg>
                </button>
            </div>
        {{- end -}}
        {{- if $.Page.FirstSection.Param "sideMenu" -}}
        <nav id="sidebarMenu" class="col-md-4 col-lg-3 d-md-block bg-light sidebar collapse sidebar-collapsible">
            <div class="position-sticky p-3 sidebar-sticky">
                {{- partial "menu.html" . -}}
            </div>
        </nav>
        <div id="content" class="col-md-8 ms-sm-auto col-lg-9 p-4" data-pagefind-body>
        {{- else -}}
        <div id="content" class="p-4" data-pagefind-body>
        {{- end -}}

        {{ .Content }}

        {{- if not ($.Page.FirstSection.Param "sideMenu") -}}
            {{- if not .Params.noPages -}}
                {{- range .Data.Pages -}}
                    {{- if not .Params.robots -}}
                        {{- partial "pagelisting.html" . -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
        </div>
    </div>
</div>
{{ end }}