{{ define "main" }}
<div class="py-2 bg-light">
</div>

<section class="py-4 text-center container">
    <div class="row py-lg-4">
        <div class="col-lg-7 col-lg-8 mx-auto">
            <h1 class="fw-light">{{ $.Site.Params.shortName }} blog</h1>
            <p class="lead text-muted">Show posts by <a href="/authors/">Author</a>, <a href="/tags/">Tag</a> or <a href="/series/">Series</a></p>
        </div>
    </div>
</section>

<div class="album py-5">
    <div class="container">
        {{ range .Paginator.Pages }}
        {{ partial "pagelisting.html" . }}
        {{ end }}

        <div class="pagination justify-content-center mt-5">
        {{ template "_internal/pagination.html" . }}
        </div>
    </div>
</div>
{{ end }}