{{ $date := (time.Now) }}
{{ with $.Scratch.Get "date" }}
    {{ $date = (time .) }}
{{ end }}

<!-- separate members into organizational and independent -->
{{ $organizationalMembers := slice }}
{{ $independentMembers := slice }}
{{ range $.Site.Data.members }}
    {{ if $date.After (time .memberSince)  }}
        {{ if or (eq .memberType "H5") (eq .memberType "H6") (eq .memberType "H7") }}
            {{ $independentMembers = $independentMembers | append . }}
        {{ else }}
            {{ $organizationalMembers = $organizationalMembers | append . }}
        {{ end }}
    {{ end }}
{{ end }}

<!-- Organizational Members Section -->
{{ if gt (len $organizationalMembers) 0 }}
<div class="members-section">
    <h2>Organizational Members</h2>
    <div class="members-grid">
        {{ range (shuffle $organizationalMembers) }}
            {{ $title := (printf "%s, %s - A member of the %s" .name (.slogan | default "") $.Site.Params.name ) }}
            {{ if not .slogan }}
                {{ $title = (printf "%s - A member of the %s" .name $.Site.Params.name ) }}
            {{ end }}
            <a {{ with $.Site.GetPage (printf "/members/%s" .id) }} href="{{ .Permalink }}" {{ else }}  href="{{ .website }}" target="_blank" {{ end }} title="{{ $title }}">
                {{ $img := resources.GetMatch (printf "/images/members/%s/%s.*" .id .id) }}
                {{ with $img}}
                <img class="member-logo" alt="{{ $title }}" title="{{ $title }}" src="{{ $img.Permalink }}" loading="lazy" />
                {{ end }}
            </a>
        {{ end }}
    </div>
</div>
{{ end }}

<!-- Independent Members Section -->
{{ if gt (len $independentMembers) 0 }}
<div class="members-section">
    <h2>Independent Members</h2>
    <div class="members-grid">
        {{ range (shuffle $independentMembers) }}
            {{ $title := (printf "%s, %s - A member of the %s" .name (.slogan | default "") $.Site.Params.name ) }}
            {{ if not .slogan }}
                {{ $title = (printf "%s - A member of the %s" .name $.Site.Params.name ) }}
            {{ end }}
            <a {{ with $.Site.GetPage (printf "/members/%s" .id) }} href="{{ .Permalink }}" {{ else }}  href="{{ .website }}" target="_blank" {{ end }} title="{{ $title }}">
                {{ $img := resources.GetMatch (printf "/images/members/%s/%s.*" .id .id) }}
                {{ with $img}}
                <img class="member-logo" alt="{{ $title }}" title="{{ $title }}" src="{{ $img.Permalink }}" loading="lazy" />
                {{ end }}
            </a>
        {{ end }}
    </div>
</div>
{{ end }}
