
  <div class="sticky-top navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <img src="/img/logo.svg" height="30" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <div class="navbar-nav me-auto"></div>

        {{- if $.Page.FirstSection.Param "sideMenu" -}}
        <div class="navbar-nav mb-2 d-block d-sm-none">
          {{- partial "menu.html" . -}}
        </div>
        <hr class="bg-light border-1 border-top border-light">
        {{- end -}}
        
        <div class="navbar-nav mb-2 mb-lg-0">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          <a class="nav-link{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}" title="{{ .Title }}" href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}

        </div>

        <span data-bs-toggle="modal" data-bs-target="#searchModal">>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" fill-opacity="0.55" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
        </span>

      </div>
    </div>
  </div>

  <div class="modal modal-xl fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div id="search"></div>

          <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
          <script src="/pagefind/pagefind-ui.js" type="text/javascript"></script>         
          <script src="/scripts/search.js" type="text/javascript"></script>
        </div>
      </div>
    </div>
  </div>
