{{- $items := slice -}}
{{- range $.Site.Data.members -}}
  {{- if eq (default "en" (substr .blog.language 0 2) ) "en" -}}
    {{- with .blog.feed -}}
      {{- $t := debug.Timer . -}}
      {{- with try (resources.GetRemote .) -}}
        {{- with .Err -}}
          {{- warnf "%s" . -}}
        {{- else with .Value -}}
          {{- if or (strings.HasSuffix .MediaType "rss+xml") (strings.HasSuffix .MediaType "atom+xml") -}}
            {{- with . | transform.Unmarshal -}}
              {{- range $i, $item := .channel.item -}}
                {{- $newItem := dict -}}
                {{- range $k, $v := $item -}}
                  {{- if eq $k "pubDate" -}}
                    {{- $newItem = merge $newItem (dict $k (time $v)) -}}
                  {{- else -}}
                    {{- $newItem = merge $newItem (dict $k $v) -}}
                  {{- end -}}
                {{- end -}}
                {{- $items = $items | append $newItem -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- else -}}
        {{- warnf "Unable to get RSS feed from %q" . -}}
      {{- end -}}
      {{- $t.Stop -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $items = sort $items "pubDate" "desc" -}}

<div id="rssfeedcarousel" class="carousel slide" data-bs-ride="carousel">
  <a class="carousel-control-prev" style="width: 20px;" href="#rssfeedcarousel" role="button" data-bs-slide="prev">
    <span class="visually-hidden">Previous</span>
  </a>

  <div class="col carousel-inner">
    {{- range $i, $post := first 25 $items -}}
      {{- $url := urls.Parse $post.link -}}
            <div class="carousel-item{{ if lt $i 1 }} active{{ end }}">

              <div class="card">
                <div class="row g-0">
                  {{- with $post.image -}}
                  <div class="col-lg-3">
                    <img src="{{ $post.image.url }}" title="{{ $post.image.title }}">
                  </div>
                  {{- end -}}
                  <div class="col">
                    <div class="card-body">
                      <h5 class="card-title"><a href="{{ $post.link }}" target="_blank" title="{{ $post.description | plainify | htmlUnescape }}" class="text-truncate text-nowrap">{{ $post.title | plainify | htmlUnescape }}</a></h5>
                      <p class="card-text">
                        <span class="d-inline-block text-truncate" style="max-width: 98%;">{{ $post.description | plainify | htmlUnescape }}</span>
                        <small class="py-2 text-muted float-end">Published on {{ dateFormat "Monday January 2, 2006" $post.pubDate }} at <a href="https://{{ $url.Host }}/" target="_blank">{{ $url.Host }}</a></small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
    {{- end -}}
  </div>

  <a class="carousel-control-next" style="width: 20px;" href="#rssfeedcarousel" role="button" data-bs-slide="next">
    <span class="visually-hidden">Next</span>
  </a>
</div>