{{- $items := partial "blog/author-data.html" . -}}
{{- $total := len $items -}}
{{- if gt $total 0 -}}
<div class="blog-author-avatars-strip">
  <div class="blog-author-avatars-bubbles">
    {{- range first 3 $items -}}
      {{- if .headshot }}
      <img class="blog-card-avatar-img" src="{{ .headshot.RelPermalink }}" alt="{{ .name }}" title="{{ .name }}" loading="lazy">
      {{- else }}
      <div class="blog-card-avatar-initials" title="{{ .name }}" aria-label="{{ .name }}">
        {{- $parts := split .name " " -}}
        {{- range first 2 $parts -}}{{- substr . 0 1 | upper -}}{{- end -}}
      </div>
      {{- end -}}
    {{- end -}}
    {{- if gt $total 3 }}
    <div class="blog-card-avatar-more" title="{{ sub $total 3 }} more authors">+{{ sub $total 3 }}</div>
    {{- end }}
  </div>
  <span class="blog-author-avatars-names">
    {{- range $i, $item := first 3 $items -}}
      {{- if $i }}, {{ end -}}
      {{ $item.name }}
    {{- end -}}
    {{- if gt $total 3 }} <span>+{{ sub $total 3 }} more</span>{{- end -}}
  </span>
</div>
{{- end -}}
