{{/* A post's byline is a publication fact, not a lookup in today's member directory. */}}
{{- range partial "blog/author-data.html" . -}}
<div class="blog-author-card">
  {{- if .headshot }}
  <img class="blog-author-avatar" src="{{ .headshot.RelPermalink }}" alt="{{ .name }}" loading="lazy">
  {{- else }}
  <div class="blog-author-avatar blog-author-initials" aria-hidden="true">
    {{- range first 2 (split .name " ") -}}{{- substr . 0 1 | upper -}}{{- end -}}
  </div>
  {{- end }}
  <div class="blog-author-info">
    <div class="blog-author-name-row">
      <span class="blog-author-name" data-pagefind-filter="author">{{ .name }}</span>
      {{- with .social }}<div class="blog-author-social">{{ partial "social.html" . }}</div>{{- end }}
    </div>
    {{- with .role }}<div class="blog-author-role">{{ . }}</div>{{- end }}
    {{- if .organization }}
    <div class="blog-author-org">
      {{- if .website }}<a href="{{ .website }}" target="_blank" rel="noopener noreferrer" class="blog-author-org-name">{{- end }}
      {{- if .orgLogo }}
        {{- $logo := .orgLogo -}}
        {{- if ne $logo.MediaType.SubType "svg" -}}{{- $logo = $logo.Fit "120x32" -}}{{- end -}}
        <img src="{{ $logo.RelPermalink }}" alt="{{ .organization }}" class="blog-author-org-logo">
      {{- else -}}{{ .organization }}{{- end }}
      {{- if .website }}</a>{{- end }}
    </div>
    {{- end }}
  </div>
</div>
{{- end -}}
