
{{ define "main" }}
{{ partial "hero.html" . }}

<div class="py-5">
    <div id="content" class="container">
        {{ .Content }}

        <!-- shuffle members  -->
        {{ $members := slice }}
        {{ range $.Site.Data.members }}
        {{ $members = $members | append . }}
        {{ end }}

        {{ range (shuffle $members) }}
        <a {{ with $.Site.GetPage (printf "/members/%s" .id) }} href="{{ .Permalink }}" {{ else }}  href="{{ .website }}" target="_blank" {{ end }} title="{{.name}} is a member of the PKI Consortium" class="linkArea">
          <div class="row featurette">
            <div class="col-lg-9 order-lg-2">
              <h2 class="featurette-heading">{{.name}}</h2>
              <h3 class="text-muted">{{.slogan}}</h3>
              <p class="lead">{{.description}}</p>
              <div class="text-end">{{ partial "social.html" .social }}</div>
            </div>
            <div class="col-lg-3 order-lg-1 text-center">
              {{ $title := (printf "%s is a member of the %s" .name $.Site.Params.name ) }}
              {{ $img := resources.GetMatch (printf "/images/members/%s/%s.*" .id .id) }}
              {{ with $img}}
              <img height="100" style="height:auto; max-width: 80%; max-height: 200px;" class="m-4" alt="{{ $title }}" title="{{ $title }}" src="{{ $img.Permalink }}">
              {{ end }}
            </div>
          </div>
        </a>
        <hr class="featurette-divider">
        {{ end }}

    </div>
</div>
{{ end }}