{{ $level := "all" }}
{{ with .Get "level"}}
    {{ $level = . }}
{{ end }}

{{ $sponsoring := $.Site.Params.name }}
{{ with .Get "sponsoring" }}
    {{ $sponsoring = . }}
{{ end }}

{{ $sponsors := slice }}

<!-- member sponsors -->
{{ range $.Site.Data.members }}
    {{ if or 
        (and (eq $level "all") (or 
            (gt .sponsor.level "")
            (index .sponsor.sponsoring $sponsoring)
        ))

        (eq .sponsor.level $level)
        (and (index .sponsor.sponsoring $sponsoring) (eq (index .sponsor.sponsoring $sponsoring).level $level))
    }}
        {{ $sponsors = $sponsors | append . }}
    {{ end }}
{{ end }}

<!-- non-member sponsors -->
{{ range $.Site.Data.sponsors }}
    {{ if or 
        (and (eq $level "all") (or 
            (gt .sponsor.level "")
            (index .sponsor.sponsoring $sponsoring)
        ))

        (eq .sponsor.level $level)
        (and (index .sponsor.sponsoring $sponsoring) (eq (index .sponsor.sponsoring $sponsoring).level $level))
    }}
        {{ $sponsors = $sponsors | append . }}
    {{ end }}
{{ end }}

<div class="sponsors container text-center">
    {{ if gt (len $sponsors) 0 }}
        {{ $levels := slice }}
        {{ range $name, $weight := .Site.Data.sponsorlevels }}
            {{ $levels = $levels | append (dict "name" $name "weight" $weight) }}
        {{ end }}
        {{ $sorted := sort $levels "weight" "desc" }}
        {{ $highest  := index $sorted 0 }}
        {{ $lowest := index $sorted (sub (len $sorted) 1) }}

        {{ range seq $highest.weight $lowest.weight }}
            <!-- we should have a linebreak here -->
            <div class="row justify-content-center">
            {{ range where $levels "weight" . }}
                {{ $level := . }}

                {{ $filteredSponsors := slice }}
                {{ range $sponsors }}
                    {{ if or 
                        (eq .sponsor.level $level.name)
                        (and (index .sponsor.sponsoring $sponsoring) (eq (index .sponsor.sponsoring $sponsoring).level $level.name))
                    }}
                    
                        {{ $filteredSponsors = $filteredSponsors | append . }}
                    {{ end }}
                {{ end }}

                {{ if gt (len $filteredSponsors) 0 }}
                    {{ $context := $.Site.Params.name }}
                
                    <!-- this should be a horizontal line with the sponsor level,  -->
                    <div data-weight="{{ .weight }}" class="col border-top border-light-subtle m-2 position-relative">
                         <span class="sponsor-level position-absolute top-0 start-50 translate-middle bg-white px-2">
                            {{ .name }}
                        </span>
                        
                        <div class="row">
                        {{ $context = $.Site.Params.name }}
                        {{ with (index .sponsoring $sponsoring) }}
                            {{ $context = $sponsoring }}
                        {{ end }}
                        {{ range $filteredSponsors }}
                            <div class="col p-4 align-self-center">
                                {{ with (index .sponsor.sponsoring $sponsoring) }}
                                    {{ $context = $sponsoring }}
                                {{ end }}

                                {{ $title := (printf "%s is a %s sponsor for the %s" .name $level.name $context ) }}
                                <a href="{{ .website }}" title="{{ $title }}" target="_blank">
                                    {{ $img := resources.GetMatch (printf "/images/**/%s/%s.*" .id .id) }}
                                    {{ if .logo }}
                                        {{ $img = resources.GetMatch (printf "/images/sponsors/**/%s" .logo) }}
                                    {{ end }}
                                    <img class="sponsor-logo" data-weight="{{ $level.weight }}" style="--sponsor-weight: {{ $level.weight }};" alt="{{ $title }}" title="{{ $title }}" src="{{ $img.Permalink }}">
                                </a>
                            </div>
                        {{ end }}
                        </div>
                    </div>

                {{ end }}
            {{ end }}
            </div>
        {{ end }}
    {{ end }}
</div>
