{{/* {{< sponsors sponsoring="<event name>" level="Leader" height="20" max-width="60" rows=true fullwidth=false >}} */}}
{{ $fullwidth := eq (.Get "fullwidth") "true" }}
<div class="{{ if not $fullwidth }}container{{ end }}">
  <div class="pb-4 justify-content-center text-center">
    {{ partial "sponsors/wall-app.html" (dict
      "mode" "grid"
      "eventName" (.Get "sponsoring")
      "level" (.Get "level" | default "all")
      "height" (.Get "height")
      "maxHeight" (.Get "max-height")
      "maxWidth" (.Get "max-width")
      "rows" (ne (.Get "rows") "")
      "class" (.Get "class")
    ) }}
  </div>
</div>
